#map {
  height: 100%;
  width:75%;
}

/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.info-title{
    font-size:20px;
    text-align: center;
}
/*mobile first*/
.information{
    display:inline-block;
    position:fixed;
    top:0;
    right:0;
    width:25%;
    height:100%;
}
.country {
  margin-bottom: 0;
}

.description {
  position: relative;
  margin-top: 0;
}
img {
  /*position: absolute;*/
  bottom: 0;
  height: 30px;
  width: 30px;
}
@media only screen and (max-width: 480px) {
    html, body {
        width: 100%;
    }

    #map{
        height:60%;
        width:100%;
    }
    .information{
        display: block;
        position: relative;
        bottom: 0;
        height:25%;
        width: 100%;
    }
}
